@background-color: #f3f3f3;
@font-color: #000;
@active-color:#e78170;
@yellow: #FB7F6E;

* {
    padding: 0;
    margin: 0;
    -webkit-touch-callout:none;  /*系统默认菜单被禁用*/
    user-select:none; /*系统默认菜单被禁用*/
}

body,
html {
    height: 100%;
    font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
    overflow-x: hidden;
    background-color: @background-color;
}

body, div, article, section, nav, ul {
  &::-webkit-scrollbar {
    display: none;
  }
}

ul {
    list-style: none;
}

a {
  text-decoration: none;
  color: @font-color;
}

a:link {color: @font-color; text-decoration:none;} // 未访问：蓝色、无下划线   
a:active {color: @font-color; } // 激活：红色
a:visited {color: @font-color; text-decoration:none;} // 已访问：purple、无下划线   
a:hover {color: @font-color; text-decoration:none;} // 鼠标移近：红色、无下划线  

.yellow {
    color: @yellow;
}

.point {
    cursor:pointer;
}

.active {
  background-color: @active-color;
  a {
    color: #fff;
  }
}

.clearfix {
  display: inline-block;
  &:after {
    display: block;
    content: "";
    height: 0;
    line-height: 0;
    clear: both;
    visibility: hidden;
  }
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}
