  *{
    padding: 0;
    margin: 0;
  }
  ul{
    list-style: none;
  }
  a{
    text-decoration: none;
  }
  body,html{
    height: 100%;
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
    overflow-x:hidden;
    background-color: #f3f3f3;
  }



  .article-page{
    position: absolute;
    right: 0;
    width: 68%;
    height: 100%;
    background-color: #f3f3f3;
  }
  .article-page a{
    font-size: 12px;
    color: #555555;
  }
  .article-page nav{
    height: 50px;
    border-bottom: 2px solid rgba(85, 85, 85, 0.12);
  }
  .nav-text{
    display: inline-block;
    line-height: 50px;
    height: 50px;
    margin-left: 10px;
    padding: 0 15px;
    transition: all 0.3s;
  }
  .article-page .fir{
    border-bottom: 1px solid #000000;
  }
  .nav-text:hover{
    background-color: #eeeeee;
  }
  .search{
    line-height: 50px;
    float: right;
  }
  .search input{
    padding-right: 10px;
    padding-left: 10px;
    width: 160px;
    height: 25px;
    border: 1px solid #efefef;
    border-radius: 10px;
  }
  .search input:focus{
    outline: none;
    box-shadow: none;
    border-color: rgba(82,168,236,0.8);
  }
  .clearfloat:after {
    display: block;
    clear: both;
    content: '';
    visibility: hidden;
    height: 0;
  }
  .search-icon{
    position: absolute;
    top: 1px;
    right: 5px;
  }
  .list .author{
    color:#4094c7;
  }
  .list .time{
    font-size: 12px;
    color: #717171;
  }
  .list .small-text{
    font-size: 12px;
    color: #717171;
  }
  .list .image{
    border: 1px solid #eeeeee;
    box-sizing: border-box;
    border-radius: 5px;
    width: 100px;
    height: 100px;
    float: right;
    margin-top: -74px;
  }

   .showbar{
    transform: translateX(0);
    transition: all 0.5s;
    width: 450px;
    height: 100%;
    position: absolute;
    left: 0;
  }
    .text{
    position: absolute;
    color: #ffffff;
    bottom: 0;
    margin-bottom: 40px;
    line-height: 40px;
    margin-left: 20px;
  }
  .text a{
    color: #ffffff;
    text-align: center;
    display: block;
    width: 140px;
    border-radius: 5px;
    height: 40px;
    background-color: #6bd95b;
  }

  .btn-group{
    margin-left: 15px;
    margin-top:20px;
  }
  .btn-group li{
    margin: 5px 5px;
  }
  .btn-group .active{
    background-color: #de533a;
  }
  .btn-group .active a{
    color: #ffffff;
  }
  .btn-group li{
    margin: 0 5px;
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
  }